.user-avatar__wrapper {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #dddddd;
}
.user-avatar__image {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}