@import '../../../../../../sassStyles/variables.scss';

.user-card {
    @extend %descr-text;
    width: 282px;
    min-height: 254px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;

    .avatar-box {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .data-fields >*:nth-child(1) {
        margin-bottom: 20px;
    }

    // set three dots if the text does not fit in the line
    .data-field {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .data-field.with-margin {
        margin: 20px 0;
    }
}