@import '../../../../../sassStyles/variables.scss';

.users-section {
    padding-top: 100px;
    margin-top: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__title {
        @extend %title-text;
        margin-bottom: 50px;
    }

    .users-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 29px;
        width: 100%;
        margin-bottom: 50px;
    }

    &__error {
        @extend %descr-text;
        padding: 30px;
        color: red;
    }

    &__preloader {
        padding: 15px;
    }
}





// media query
@media screen and (max-width: 966px){
    .users-section {
        .users-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 29px;
        }
    }
}
@media screen and (max-width: 768px){
    .users-section {
        .users-list {
            gap: 16px;
        }
    }
}
@media screen and (max-width: 620px){
    .users-section {
        .users-list {
            grid-template-columns: 1fr;
        }
    }
}
@media screen and (max-width: 360px){
    .users-section {
        .users-list {
            
        }
    }
}