.app-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding: 13px 0;
    background-color: #fff;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scroll-top-link {
            display: flex;
            align-items: center;
        }
    }

    &__logo {
        width: 104px;
        height: 26px;
    }

    &__buttons {
        a {
            margin-right: 10px;
        }
        a:nth-last-child(1) {
            margin-right: 0;
        }
    }
}