@import '../../../../../sassStyles/variables.scss';

.registration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-top: 40px;

    &__title {
        @extend %title-text;
        margin-bottom: 50px;
    }
}