@import '../../../../../../sassStyles/variables.scss';

.registration-form {
    width: 380px;

    .name-field,
    .email-field {
        margin-bottom: 28px;
    }

    .phone-field {
        margin-bottom: 21px;
    }

    .registration-position {
        margin-bottom: 50px;
    }
    .position-list__title {
        margin-bottom: 14px;
    }

    .position-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
            margin-bottom: 13px;
        }
        li:nth-last-child(1) {
            margin-bottom: 0;
        }

        .registration-form__error {
            padding: 0;
            text-align: left;
        }
    }

    .upload-input {
        margin-bottom: 32px;
    }

    &__error {
        @extend %descr-text;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        color: red;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}




// media query
@media screen and (max-width: 412px){
    .registration-form {
        width: 238px;
    }
}